*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial;
    font-family: "Ascender Sans W01 Regular";
}
a{
    text-decoration: none;
  }
body{
    background-color:rgb(28, 28, 28);
    background-image: url(Img/Background/backgroundFoto_P&B.png);
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}



.pagina{
  display: flex;
  height: 100vh;
}
.conteudoPagina{
  margin: auto;
  background-color: #ffffff5c;
  padding: 10px;
  border-radius: 15px;
}

.nomeNegocio{
  text-align: center;
  color: #000000; /* tom princial original */
  padding-top: 30px;
}
#nomeNegocio1{
    font-size: 38px;
}
#nomeNegocio2{
    font-size: 24px;
    padding-top: 0px;
    text-transform: uppercase;
}
.subNomeNegocio{
  color: #ffffff;
  text-align: center;
  padding-top: 5px;
}
.subNomeNegocio{
    font-size: 18px;
}
@font-face {
  font-family: logo;
  src: Url("../fonte/");
}

.conteudoIcone{
  display: flex;
}
.imagemIcone{
  border-radius: 50%;
  height: 100px;
  width: 100px;
  margin: auto;
  padding: 1px;
  background-color: #ffffff;
}

.conteudoLinks{
  display: grid;
  padding: 10px 5px 5px 5px;
}
.descricaoLink{
  display: flex;
  margin: 7px;
}
.link{
  background: #ffffff; /* tom secundario original */
  color: #000000; /* 4 tons antes do preto secundario */
  min-width: 364px;
  border-radius: 50px;
  text-align: center;
  padding: 10px;
  margin: auto;
  font-size: 16px;
  font-weight: bolder;
  display: flex;
}
.link:hover{
    border: 1px solid #5a5a5a;
}

.nomeLink{
    margin: auto;
}



@import url(https://db.onlinewebfonts.com/c/0811affbbfd6cb65b2fc0ce8717ca846?family=Ascender+Sans+W01+Regular);
@font-face {
    font-family: "Ascender Sans W01 Regular";
    src: url("https://db.onlinewebfonts.com/t/0811affbbfd6cb65b2fc0ce8717ca846.eot");
    src: url("https://db.onlinewebfonts.com/t/0811affbbfd6cb65b2fc0ce8717ca846.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/0811affbbfd6cb65b2fc0ce8717ca846.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/0811affbbfd6cb65b2fc0ce8717ca846.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/0811affbbfd6cb65b2fc0ce8717ca846.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/0811affbbfd6cb65b2fc0ce8717ca846.svg#Ascender Sans W01 Regular")format("svg");
}