*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Arial;
}
body{
  background: #000000; /* 1 tom antes do branco principal */
  background: url(../Img/Background/BackgroundFundo.jpg)  repeat-x fixed;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  word-wrap: break-word;
}
a{
  text-decoration: none;
}
@font-face {
  font-family: logo;
  src: Url("../fonte/");
}#nomeNegocio1{
  font-size: 40px;
}
#nomeNegocio2{
  font-size: 22px;
  color: #ffffff;
}
.subNomeNegocio{
  font-size: 18px;
}

.pagina{
  display: flex;
  height: 100vh;
}
.conteudoPagina{
  margin: auto;
  padding: 20px 5px;
}

h1{
  text-align: center;
  color: #00b764; /* tom princial original */
  font-size: 100px;
  text-transform: uppercase;
}
h2{
  text-align: center;
  color: #ffffff;
  font-size: 80px;
}
